<div class="div-signin">
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <!-- <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>  -->

    <!-- bootstrap utilities/screenreaders   -->
    <span><input type="radio" ngModel name="userType" id="buyerType" ng-value="1" ng-model="userType" ng-checked="true">Buyer</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span><input type="radio" ngModel name="userType" id="sellerType" ng-value="2" ng-model="userType">Seller</span>
    <label for="inputUsername" class="sr-only">User name</label>
    <input ngModel name="name" id="inputUsername" class="form-control" placeholder="UserName" type="text">

    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember Me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a [title]="'Buyer Signup'" [routerLink]="'/buyerSignup'">Buyer Signup</a>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a [title]="'Seller Signup'" [routerLink]="'/sellerSignup'">Seller Signup</a>

  </form>
</div>