
<div id="cartList">
  <br>
  <div>
    <div class="row">
      <div class="col-md-3"><a [routerLink]="'/cart'">Buy Item</a></div>
      <br>
      <div class="col-md-3"><a [routerLink]="'/purchaseHistory'">Purchase History</a></div>
    </div>
  </div>
  <br>

  <div *ngFor="let item of items; index as itemId">
    <div class="row">
      <div class="col-md-3">
        <h3>
          {{item.itemName}}
        </h3>
      </div>
      <div class="col-md-3">
        <h4>{{ item.price | currency }}</h4>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Edit</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="deleteItem(itemId)">Delete</button>
      </div>
    </div>
  </div>

  <div>
    <span>Total Tax:</span><span id="totalTax"></span>
  </div>

  <div class="row">
    <div class="col-md-3">
      <span>Total Price:</span><span id="totalPrice"></span>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary">Apply Discount</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>

  <a [routerLink]="'/search'">
    Back to Search
  </a>
</div>

