
<div id="search">
  <br>
  <div class="search-m">

    <div class="row">

      <div class="col-md-3"><input [formControl]="name" name="name" id="inputItemname" class="form-control" type="text" style="width: 200px;"></div>
      <div class="col-md-3"><button class="btn btn-lg btn-primary" type="button" (click)="search()">Search</button></div>
      <!-- <div class="col-md-3">
        <a href="/cart"><span class="glyphicon glyphicon-shopping-cart">My Cart</span></a>
      </div> -->
    </div>
  </div>

</div>